.dropMenu {
	position: fixed;
	left: 30px;
	text-align: center;
	overflow: auto;
}

/*  */

.dropDownMenuDiv {
	display: flex;
	position: fixed;
	top: 18%;
	height: 150px;
	box-shadow: 2px 2px 10px var(--shadow);
	background-color: var(--white);
	left: 30px;
	right: 30px;
	min-width: 80%;
	justify-content: space-around;
}

.menuIkon {
	text-align: center;
	width: 100px;
}

.menuIkon:hover {
	background-color: var(--light-blue);
	cursor: pointer;
	color: var(--white);
}

.icon {
	margin: 10px;
}

.dropMenu.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: 500ms ease;
}

.dropMenu.inactive {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: 500ms ease;
}
