.visibleTable li {
	list-style-type: none;
}

.visibleTable {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
	margin-left: 0;
	padding-left: 0;
}

.conImg {
	width: 220px;
	min-height: 220px;
	object-fit: scale-down;
	margin: 20px;
}

.shadow {
	border-radius: 10px;
}

.shadow:hover {
	box-shadow: 2px 2px 20px var(--shadow);
}
