* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
	text-align: center;
}

body {
	font-family: Bradley Hand, cursive;
	overflow: auto;
}

/* [class*='_container']  */
.container {
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px 15px;
}

:root {
	--black: #000;
	--white: #fff;
	--shadow: #969595;
	--blue: rgb(0, 4, 255);
	--red: rgb(255, 0, 0);
	--light-blue: CornflowerBlue;
}
